/* Color Variables */
:root {
  --color-dark: #003366; /* Dark Blue (SAP color) */
  --color-light: #ffffff; /* White */
  --color-gray: #bdc3c7; /* Light Gray */
  --color-main: #f1c40f; /* Gold */
  --color-dark-medium: #34495e; /* Medium Dark Blue */
  --color-dark-light: #7f8c8d; /* Light Blue-Grey */
}

/* Header */
.header {
  padding: 1.5rem;
  background-color: var(--color-dark);
}

.header > .container {
  display: flex;
  gap: 9.5rem;
}

.header__logo,
.header__user {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header__logo > img {
  height: 3.2rem;
  width: 3.2rem;
}

.header__logo > h1 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-light);
}

.header__search > label {
  background-color: var(--color-dark-medium);
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 4px;
}

.header__search svg {
  fill: var(--color-gray);
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.header__search input {
  width: 30rem;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-light);
}

@media screen and (max-width: 800px) {
  .header__search input {
    width: 20rem;
  }

  .header > .container {
    gap: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .header__logo h1 {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header__search {
    display: none;
  }
}

/* Menu */
.header__menu {
  margin-left: auto;
  position: relative;
}

.header__menu a {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-gray);
}

.header__menu img {
  height: 3.6rem;
}

.header__menu p {
  line-height: 1.2;
}

.header__menu span {
  color: var(--color-main);
  font-weight: 500;
  font-size: 1.4rem;
  display: block;
}

.header__menu svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-dark-light);
}

.dropdown-button {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.dropdown-button:hover svg {
  fill: var(--color-main);
}
