{% load static %}

<header class="header header--loggedIn">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <!-- Logo -->
      <a href="{% url 'home' %}" class="navbar-brand">
        <img src="{% static 'images/logo.png' %}" alt="SAP logo" style="height: 40px;"/>
        <h1 class="d-inline-block text-white">SOUTH AFRICAN POLICE SERVICE</h1>
      </a>

      <!-- Login/Logout Section -->
      <div class="ml-auto">
        {%if user.is_authenticated%}
          <a href="{% url 'logout' %}" class="navbar-text text-white">
            <img src="{% static 'images/avatar.svg' %}" alt="User Avatar" style="height: 30px;"/>
            <span>Logout</span>
          </a>
        {% else %}

        <a href="{% url 'login' %}" class="navbar-text text-white">
          <img src="{% static 'images/avatar.svg' %}" alt="User Avatar" style="height: 30px;"/>
          <span>Login</span>
        </a>
        {% endif %}
      </div>
    </nav>
  </div>
</header>
<hr>
